@import url('https://fonts.googleapis.com/css2?family=Quintessential&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Quintessential", serif;
}
body {
    background: #352F44;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}

h1 {
    color: #FAF0E6;
    font-size: 5rem;
}